{%extends "base.html"%}
{%block title%} Hjelpe {%endblock%}

{%block content%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    
</head>

<body>
    <div class="Welcome">
        <h1>Graphs</h1>
        Welcome to using our visualization of CVE reports using Kibana.
    </div>
    <div class="Usage">
          <h1>Choosing dates</h1>
          On the middle right visualization there are a calendar button on top of the graph 
          where you can freely choose dates between 1999 and early 2023 to look from. Dates before or beyond those given areas will 
          result in empty spaces on the graphs. In addition, you may click or click and drag over areas on a graph to get it to go deeper 
          into that given area giving more detailed information about each day/month/week. 
    </div>

    <div class="Graphs">
        <h1>Graphs</h1>
        There are different graphs that you can choose to get data for analytics from. 
        Such as heatmaps to find which weeks have had more incidents, or barplots showing the months 
        and years to a lineplot showing the incidents per month together with a moving average/trend 
        plot to be able to see if the current months are trending up or down in amount of incidents.
    </div>

    <div class ="Visualize">
        <h1>Visualize</h1>
        <p>As a user you are able to create your own visualizations but not to save them, as to not disturb 
        the main page hosting the visualizations. You can only use the data sets that are given, where as the newest updated is titled "cve"</p>
    </div>

    <div class="Errors" >
        <h1>Errors</h1>
        If you encounter an error as a result of using the edit visualization tool where it ends up stuck in a loading state. Simply close the 
        tab and go back into the website. 
    </div>
   
</body>

</html>


{%endblock%}