{%extends "base.html"%}
{%block title%} Hjelpe {%endblock%}

{%block content%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    
</head>

<body>
    <div class="Welcome">
        <h1>Welcome</h1>
        <p>Welcome to website for visualization of CVE reports. A website using kibana to display visualizations of analysed data </p>
    </div>
    <div class="Usage">
          <h1>Navigate</h1>
          <p>Navigate the site using the navigation bar in the top of the website for visualizations at the home page, 
            create your own visualization of the data in the make visualization page. Login at the login page. And view other visualizations
            to view visualizations for future forcasting, trends and relation by days of the week.
   </p>
    </div>

    <div class="Graphs">
        <h1>Viewing dates</h1>
        <p>Navigate different dates you want to see by using the calendar on one of the visualizations or use the time list
        at the top of the home page. This will update all the visualizations available on the site. Dates from 1999 to 2022 are available. Clicking or dragging on a graph will
    also change the dates. </p>
    </div>

    <div class ="Visualize">
        <h1>Make Visualization</h1>
        <p>Follow the page instructions by turning on the editmode then a button named create visualization will appear.
        Visualizations created here is not yet saveable. Use the data "cve" and add functions and filters on the horizontal and vertical axis to display </p>
    </div>

   
</body>

</html>


{%endblock%}