{%extends "base.html"%}
{%block title%} Visualization {%endblock%}

{%block content%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    
    <div class=frametest>
        
        <iframe src="http://localhost:5601/app/dashboards#/view/9a7131e0-ea7b-11ed-81d2-55f73385f722?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3A'2017-01-04T12%3A43%3A54.496Z'%2Cto%3Anow))&show-query-input=true&show-time-filter=true" style="position:fixed; height:95%; width:100%;"></iframe>
        
    </div>
   
</body>

</html>


{%endblock%}